body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;

  
}

h1 {
  color: white;
}

.hero{
  color: #fff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
  "nav"
  "pokemon-container"
  "#sidebar"
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.nav{
  grid-area: nav;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  height: 90px;
}
.nav_list{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}
.nav_link{
  color: #fff;
  font-size: 18px;
  text-decoration: none;

}
.nav_logo{
  font-size: 2.2rem;
  font-weight: 500;
}
.nav_menu{
  display: none;
}
.nav_icon{
  width: 30px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5), 8px 8px rgba(0, 0, 0, 0.13);
}

.img-container {
  background-image: url("./blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pokemon-block p {
  margin: 5px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*.pagination {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}


.pokemon-block {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.stat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}*/


#sidebar{
  position: fixed;
  right: 0%;
  width: 200px;
  height: 100%;
  background: crimson;
  right: -200px;
  transition: all 500ms linear;
}

#sidebar.active{
  right: 0;
}

#sidebar ul li{
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #fafafa;
}

#sidebar .toggle-btn{
  position: absolute;
  right: 230px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#sidebar .toggle-btn span{
  display: block;
  width: 40px;
  height: 40px;;
  text-align: center;
  font-size: 30px;
}

@media (max-width:800px){
  .pokemon-container{
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    text-align: center;
  }

  .nav_list{
    display: none;
  }

  #sidebar .toggle-btn{
    display: block;
  }

  .nav_logo{
    font-size: 1.5rem;
    font-weight: 500;
  }

}